<%= form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h5>
      <ul class="mb-0">
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.text_field :title, class: "form-control", placeholder: "New list title..." %>
    <%= form.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
