<% content_for :title, @list.title %>
<%= turbo_stream_from @list %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @list.title %></li>
        </ol>
      </nav>

      <div class="card">
        <div class="card-header">
          <%= render "header", list: @list %>
        </div>
        <div class="list-group list-group-flush">
          <% @list.items.order(:created_at).each do |item| %>
            <%= render item %>
          <% end %>
          <div class="list-group-item" id="new_item_form" data-turbo-refresh-stream-permanent>
            <%= render "items/form", item: @item %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
